<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- TODO add "default-src 'none';" policy as recommended here https://code.visualstudio.com/api/extension-guides/webview#content-security-policy  -->
    <meta http-equiv="Content-Security-Policy" content="frame-src 'self' {{origin}}" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{title}}</title>
    <style>
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        border: none;
      }
    </style>
  </head>
  <body>
    <iframe id="application" src="{{url}}"></iframe>
  </body>
</html>
